body {
  background-color: lightblue;
}

a {
text-decoration: none;
font-size: 32px;
background-color: lightpink;
border: 2px solid lightgreen;
border-radius: 5px;
padding: 2%;
}


.mdlwindow{
background-color: rgba(0,188,255,0.88);
position: fixed;
top:0;
bottom:0;
left:0;
right:0;

opacity:0;
pointer-events: none;
transition: all 0.25s ease-out;
}

.mdlwindow:target{
opacity: 1;
pointer-events: all;
font-size: 18px;
}

#mySecret2:target{
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0,255,0,0.88);
}



.messagebox{
  background-color: white;
  width:50%;
  margin: auto;
  text-align: center;
  margin-top: 4%;
  padding: 2%;
}

.messagebox a {

  font-size: 30px;
  padding: 1%;
  background-color: lightgray;

}

.messagebox img{
  width: 40%;
  height: auto;
}


.item {
  font-size: 16px;
  text-align: center;
  width: 45%;
  float:left;
  background-color: lightgreen;
  margin-left: 3%;
  padding-bottom: 3%;
}

.item p {
height:50px;
text-align: center;
margin: auto;
}


.dragon-boat-small{
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
