body {
  background-color: lightblue;
}

a {
text-decoration: none;
font-size: 42px;
background-color: lightpink;
border: 2px solid lightgreen;
border-radius: 10px;
padding: 3%;
}


.mdlwindow{
background-color: rgba(224,224,224,0.8);
position: fixed;
top:0;
bottom:0;
left:0;
right:0;

opacity:0;
pointer-events: none;
}

.mdlwindow:target{
opacity: 1;
pointer-events: all;
}

#antohernewmyapple:target{
opacity: 1;
pointer-events: all;
background-color: rgba(111,111,112,0.6);
}


.messagebox{
  background-color: white;
  width:50%;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  padding: 3%;
}

.messagebox a {

  font-size: 30px;
  padding: 1%;
  background-color: lightgray;

}

.item {
  text-align: center;
  width:45%;
  float:left;
  background-color: lightgreen;
  margin-left: 3%;
  padding-bottom: 3%;
}

.item p {
height:50px;
}
